.div,
.height {
  position: relative;
  line-height: 1.25rem;
}
.div {
  flex: 1;
}
.heightParent,
.wrapper {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.wrapper {
  border-radius: var(--br-7xs);
  background-color: var(--base-white);
  border: 1px solid var(--foundation-neutrals-n40);
  flex-direction: row;
  align-items: center;
  padding: var(--padding-xs) var(--padding-mid) var(--padding-xs)
    var(--padding-mini);
  white-space: nowrap;
  color: var(--foundation-neutrals-n900);
}
.heightParent {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.375rem 0;
  text-align: left;
  font-size: var(--text-md-medium-size);
  color: var(--base-black);
  font-family: var(--font-outfit);
}
